<div id="masthead">
  <div class="container">
    <div class="masthead-pad">
      <div class="masthead-text">
        <h2> Change Password </h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div id="form_div">
      <div id="form_div">

        <%= form_for @user, :url => reset_password_path do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit "Update Password" %></div>
<% end %>



      </div>
    </div>
  </div>
</div>
