<h2>Edit User</h2>

<%= form_for(@user) do |f| %>
  <%= error_messages_for @user %>

  <div><%= f.object.email %><br /></div>


<div><%= f.label :name %><br />
  <%= f.text_field :name %></div>
  
<div><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></div>

 <div><%= f.label :status  %><br />
  <%= f.select(:status, User::USER_STATUS) %>
</div>


<div><%= f.label :company %><br />
  <%= f.text_field :company %></div>

<div><%= f.label :company_title %><br />
  <%= f.text_field :company_title %></div>


  <br>
  <div style="float:left;"><%= f.submit "Update User", :class => "btn btn-primary" %></div>

<% end %>
<div style="float:left;margin-left:2%;">
<%= link_to "Cancel", users_path, :class => "btn btn-primary" %>
</div>

<div style="float:left;margin-left:2%;">
<%= link_to "Delete", user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary"  %>
</div>

