 <h3>Scoreboard</h3>

<table class="challenge_show_page">
	<thead>
		<tr>
		<th>Player List</th>
		<th>Make Winner</th>
		<th>Sponder/MD</th>
		<th>MiniPoints</th>
		<th>Challenges Points</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
		<% @player_challenges.each do |p| %>
			<tr>
				<td>
					<% if p.user.present? && p.user.avatar.present? %>
					<%= link_to image_tag(p.user.avatar.url(:thumb)), "javascript:void(0);" %>
					<% else %>
					<%= link_to image_tag("/assets/big.jpg", :width => "50", :height => "50"), "javascript:void(0);" %>
					<% end %>
				</td>

				<td>
					<% if p.is_winner == true %>
						<%= link_to "Remove Winner", declare_winner_player_challenges_path(p), :method => "POST" %>
					<% else %>
					<%= link_to "Declare Winner", declare_winner_player_challenges_path(p), :method => "POST" %>
					<% end %>
				</td>
				<% if p.user.md_id.present? %>
				<td>
					<% usmd = User.find(p.user.md_id) %>
					<% if usmd.present? %>
						<%= usmd.fullname %>
					<% end %>
				</td>
				<% else %>
					<td></td>
				<% end %>
				<td><%= p.user.mini_points %> Points</td>
				<td><%= p.user.points.present? ? p.user.points : 0 %> Points</td>
			</tr>
		<% end %>		
	</tbody>
</table>