<h3>Challenges List </h3>

<%= link_to "Create Challenge", new_challenge_path %> | 
<%= link_to "Create Mini Challenge", new_mini_challenge_path %>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Challenge Type</th>
      <th>Challenge Title</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Public Published</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  	<% @challenges.each do |challenge| %>
    <% if challenge.user.present? %>
    <tr>
      <td>
        <% if challenge.is_video_challenge? %>
          <%= link_to "Video Challenge", edit_challenge_path(challenge) %>
        <% elsif challenge.document_challenge.present? && challenge.document_challenge.is_image_document? %>
            <%= link_to "Image Challenge", edit_challenge_path(challenge) %>
        <% else %>
          <%= link_to "Document Challenge", edit_challenge_path(challenge) %>
        <% end %>
        <%#= challenge.is_video_challenge? ? "Video Challenge" : "Document Challenge" %>
      </td>
      <td><%= challenge.title %></td>
      <td><%= challenge.start_date.strftime("%d/%m/%Y") %></td>
      <td><%= challenge.end_date.strftime("%d/%m/%Y") %></td>
      <td><%= challenge.is_published %></td>
      <td><%= link_to "View Challenge", show_challenge_path(challenge),'data-no-turbolink' => false %></td>
      <td>
        <%= link_to "Delete Challenge", challenge,'data-no-turbolink' => false, :method => :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<%= paginate @challenges %>